createUser:
    handler: src/handlers/user.create
    events:
        - http:
            path: api/user
            method: post
            cors: true
            authorizer: aws_iam
createRecipe:
    handler: src/handlers/recipe.create
    events:
        - http:
            path: api/recipe
            method: post
            cors: true
            authorizer: aws_iam
authenticateUser:
    handler: src/handlers/auth.authenticate
    events:
        - http:
            path: api/auth
            method: post
            cors: true
            authorized: aws_iam
