authenticateJWT:
    handler: src/middleware/authenticateJWT.authenticateJWT
createUser:
    handler: src/handlers/user.create
    events:
        - http:
            path: api/user
            method: post
            cors: true
            authorizer: aws_iam
createRecipe:
    handler: src/handlers/recipe.create
    events:
        - http:
            path: api/recipe
            method: post
            cors: true
            authorizer: authenticateJWT
authenticateUser:
    handler: src/handlers/auth.authenticate
    events:
        - http:
            path: api/auth
            method: post
            cors: true
            authorized: aws_iam
deleteUser:
    handler: src/handlers/user.deleteUser
    events:
        - http:
            path: api/user/{userId}
            method: delete
            cors: true
            authorizer: aws_iam

authenticateToken:
    handler: src/handlers/auth.authenticateToken
    events:
        - http:
            path: api/auth
            method: get
            cors: true
            authorizer: authenticateJWT