authenticateJWT:
    handler: src/middleware/authenticateJWT.authenticateJWT
createUser:
    handler: src/handlers/user.create
    events:
        - http:
            path: api/user
            method: post
            cors: true
            authorizer: aws_iam
authenticateUser:
    handler: src/handlers/auth.authenticate
    events:
        - http:
            path: api/auth
            method: post
            cors: true
            authorized: aws_iam
deleteUser:
    handler: src/handlers/user.deleteUser
    events:
        - http:
            path: api/user/{userId}
            method: delete
            cors: true
            authorizer: aws_iam
createRecipe:
    handler: src/handlers/recipe.createRecipe
    events:
        - http:
            path: api/recipe
            method: post
            cors: true
            authorizer: authenticateJWT
getAllRecipes:
    handler: src/handlers/recipe.getAllRecipes
    events:
        - http:
            path: api/recipe/{userId}
            method: get
            cors: true
            authorizer: authenticateJWT
getRecipe:
    handler: src/handlers/recipe.getRecipe
    events:
        - http:
            path: api/recipe/{userId}/{recipeId}
            method: get
            cors: true
            authorizer: authenticateJWT
updateRecipe:
    handler: src/handlers/recipe.updateRecipe
    events:
        - http:
            path: api/recipe/{userId}/{recipeId}
            method: put
            cors: true
            authorizer: authenticateJWT
deleteRecipe:
    handler: src/handlers/recipe.deleteRecipe
    events:
        - http:
            path: api/recipe/{userId}/{recipeId}
            method: delete
            cors: true
            authorizer: authenticateJWT
createIngredient:
    handler: src/handlers/ingredient.createIngredient
    events:
        - http:
            path: api/ingredient
            method: post
            cors: true
            authorizer: authenticateJWT
getIngredient:
    handler: src/handlers/ingredient.getIngredient
    events:
        - http:
            path: api/ingredient/{ingredientId}
            method: get
            cors: true
            authorizer: authenticateJWT
deleteIngredient:
    handler: src/handlers/ingredient.deleteIngredient
    events:
        - http:
            path: api/ingredient/{ingredientId}
            method: delete
            cors: true
            authorizer: authenticateJWT
