.recipes-title {
    height: 100px;
    text-align: left;
}

.ingredients-text {
    font-weight: 200 !important;
    margin: 80px 0px 0px 0px !important;
    text-align: left;
}

.name-text {
    font-weight: 200 !important;
    margin: 80px 0px 0px 100px !important;
    text-align: left;
}

.amount-text {
    font-weight: 200 !important;
    margin: 20px 0px 0px 20px !important;
    text-align: left;
}

.metric-text {
    font-weight: 200 !important;
    margin: 20px 0px 0px 20px !important;
    text-align: left;
}

.steps-text {
    font-weight: 200 !important;
    margin: 80px 0px 0px 0px !important;
    text-align: left;
}