.calendar-entry-container {
    border-color: black;
    border-width: 1px;
    border-style: solid;
    width: 100%;
    flex-direction: row;
    display: inline-flex;
}
.calendar-entry-date {
    text-decoration-line: underline;
}

.calendar-entry-description {

}

.add-calendar-entry {

}

.edit-calendar-entry {

}