.menu-button {
    flex-grow: 1;
    max-height: 100% !important;
}
.title {
    flex-grow: 50;
    text-align: left;
}

.active-button {
    border-bottom: 2px ridge white !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;

}