.button {
    flex: 1;
    height: 100%;
    background-color: none;
    justify-content: center;
    color: black
}
.button:hover {
    background-color: #00dddddd;
    color: white
}
.bar {
    width: 100vw;
    height: 50px;
    display: inline-flex;
    align-items: center;
    background-color: cyan
}