.addingredient-input {
  width: 80%;
  margin: 1% 10% !important;
}

.addingredient-button {
  margin: 15px !important;
  float: right;
}

.deleteingredient-button {
  margin: 15px !important;
  float: right;
  background-color: #ffc285 !important;
}

.close-icon {
  margin: -10px !important;
  float: right;
}
