.login {
    width: 25%;
    display: inline-block;
    height: 250px;
    margin-top: 10%;
    padding-top: 30px;
}

.input {
    width: 85%;
    margin: 0% 10% 0% 10% !important;
}

.submit {
    float: right;
    margin: 8% 8% 0% 0% !important;
}

.new-account {
    float: left;
    margin: 5% 0% 0% 8% !important;
}
