.add-modal {
    overflow-y: scroll;
    scrollbar-width: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: 30%;
    margin-right: 30%;
}

.add-modal::-webkit-scrollbar {
    display: none;
}
